# Core Framework
Django==4.2
djangorestframework==3.16.1
django-cors-headers==4.9.0
django-environ==0.13.0
sqlparse==0.5.5

# Real-time Capabilities (WebSockets & Channels)
channels==4.3.2
channels_redis==4.3.0
daphne==4.2.1
asgiref==3.11.1
attrs==23.1.0
autobahn==24.4.2

# AWS SDK & IoT (Satisfies the SDK runtime)
awscrt==0.31.2
awsiotsdk==1.28.1
boto3==1.34.60
botocore==1.34.60
jmespath==1.0.1
s3transfer==0.10.1
awsebcli

# Web Server for Deployment
gunicorn==21.2.0

# Database & Cache Drivers
redis==5.0.1

# Utilities
PyYAML<5.4
requests==2.32.5
python-dateutil==2.9.0
pytz==2022.7.1
typing_extensions==4.15.0
certifi==2026.2.25